<h2>Balances</h2>
<ul class="account_info">
  <li>
    <span class="account_name">
      Account
    </span>
    <span class="account_balance_all">
      This Cycle
    </span>
    <span class="account_balance_cycle">
      All times
    </span>

  </li>

  <li *ngFor="let account of accountsInfo">
    <span class="account_name">
      {{account.account_name}} &nbsp;
    </span>
    <span class="account_balance_cycle">
      {{account.this_cycle | currency:account.currency:'symbol-narrow'}}
    </span>
    <span class="account_balance_all">
      {{account.all_times | currency:account.currency:'symbol-narrow'}}
    </span>

  </li>
</ul>
