.mat-elevation-z8 {
  background-color: rgba(165, 208, 230, 0.45);
}

.name {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: left;
}

.mat-column-this_cycle {
  justify-content: flex-end;
}

.mat-column-all_times {
  justify-content: flex-end;
}
