.account_info {
  margin: 0 0 2em 0;
  list-style-type: none;
  width: 19em;
}
.account_info li {
  color: midnightblue;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  height: 30px;
  border-radius: 4px;
}
.account_info .account_balance_all {
  display: inline-block;
  font-size: small;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #E5E5E5;
  line-height: 1em;
  position: relative;
  left: +3em;
  height: 30px;
  width: 7em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.account_info .account_balance_cycle{
  display: inline-block;
  font-size: small;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #E5E5E5;
  line-height: 1em;
  position: relative;
  left: +3em;
  height: 30px;
  border-radius: 0 4px 4px 0;
  width: 7em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

.account_info .account_name {
  font-family: 'Alegreya Sans', sans-serif;
  margin-left: 0.5em;
  left:+8em;
  width: 6em;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
