<mat-card class="my_recap">

  <mat-list>
  <span class="single_budget">
    <mat-list-item class="first_row_recap">
      <span class="progress_container">
        <span class="category">
          <button [routerLink]="['/budget']"
                  class="clickable"
                  color="primary" mat-icon-button mat-stroked-button>
            <mat-icon>
              edit
            </mat-icon>
          </button>
        </span>

        <span class="blah">
        </span>

        <span class="bluh">
        </span>

        <span class="bar">
          <span [ngStyle]="{'width': this.cycle_progress+'%'}"
                class="progress progress-bar-info month">
            &nbsp;
          </span>
          <span [ngStyle]="{'width': 100 - this.cycle_progress+'%'}"
                class="progress progress-bar-info lighter month">
            &nbsp;
          </span>
        </span>

      </span>
    </mat-list-item>
  </span>

    <ng-container *ngFor="let category of dataSource">
      <span (click)="onCategoryClick(category.category)" class="single_budget">
        <mat-list-item class="clickable">

          <span class="progress_container">
            <span class="category">
              <i class="{{icons[category.category]}} fa-2x fa-fw"></i>
            </span>

            <span class="blah">
              {{category.spent_from_budget | currency:category.currency:'symbol-narrow':'1.0'}}
              &nbsp;({{category.delta_days}} days)
            </span>

            <span class="bluh">
              ({{category.delta_money}})&nbsp;
              {{category.remaining | currency:category.currency:'symbol-narrow':'1.0'}}
            </span>

            <span class="bar">
              <span [ngStyle]="{'width': category.progress+'%'}"
                    class="progress {{progress_bar_class(category)}}">
                &nbsp;
              </span>

              <span [ngStyle]="{'width': 100 - category.progress+'%'}"
                    class="progress {{progress_bar_class(category)}} lighter">
                &nbsp;
              </span>
            </span>

            <span *ngIf="category.over>0" class="over">
              <mat-chip-list>
                <mat-chip class="over" color="accent" disabled selected>
                  {{category.over | currency:category.currency:'symbol-narrow':'1.0'}}
                </mat-chip>
              </mat-chip-list>
            </span>

          </span>
        </mat-list-item>
      </span>
    </ng-container>
  </mat-list>
</mat-card>
