@import "../../theme.scss";

.over {
  font-weight: bold;
}

.over-title {
  font-weight: bold;
}

.no-over-title {
  color: grey
}

.progress-bar-danger {
  background-color: $warn !important;
}

.progress-bar-success {
  background-color: darkgreen !important;
}

.progress-bar-warning {
  background-color: darkorange !important;
}

.progress-bar-info {
  background-color: royalblue !important;
}

.month {
  height: 8px !important;
}

.lighter {
  opacity: 0.2;
}

.progress {
  height: 6px;
}

.bar {
  display: inline-flex;
  width: 20vw;
  grid-area: pro;
}

.category {
  width: 50px;
  grid-area: cat;
}

.progress_container {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 64px;
  grid-template-rows: 24px 6px;
  grid-template-areas: "cat left-txt right-txt over-chip" "cat pro pro over-chip";
}

.blah {
  font-size: 18px;
  opacity: 0.5;
  grid-area: left-txt;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: left;
  vertical-align: top;
}

.bluh {
  font-size: 18px;
  opacity: 0.5;
  grid-area: right-txt;
  font-family: 'Alegreya Sans', sans-serif;
  text-align: right;
}

:not(last-child) {
  margin-bottom: 0 !important;
}

.cycle_budgets {
  display: inline-flex;
}

.over {
  grid-area: over-chip;
  margin-left: 5px;
}

.my_recap {
  width: 30em;
}
