<h2>Recap</h2>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
    <mat-cell *matCellDef="let category" class="name"> {{category.category}}</mat-cell>
    <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
  </ng-container>

  <!-- Spent Column -->
  <ng-container matColumnDef="spent">
    <mat-header-cell *matHeaderCellDef> Spent</mat-header-cell>
    <mat-cell  class="amount" *matCellDef="let category"> {{category.spent | currency:'EUR':'symbol-narrow'}}</mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalSpent() + getTotalOver()  | currency:'EUR':'symbol-narrow':'1.0'}} </mat-footer-cell>
  </ng-container>

  <!-- Remaining Column -->
  <ng-container matColumnDef="remaining">
    <mat-header-cell *matHeaderCellDef> Remaining</mat-header-cell>
    <mat-cell  class="amount" *matCellDef="let category"> {{category.remaining | currency:'EUR':'symbol-narrow':'1.0'}}</mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalRemaining() | currency:'EUR':'symbol-narrow':'1.0'}} </mat-footer-cell>
  </ng-container>

  <!-- Over Column -->
  <ng-container matColumnDef="over">
    <mat-header-cell *matHeaderCellDef>
      <span [ngClass]="getTotalOver()<=0?'no-over-title':'over-title'">
        Over
      </span>
    </mat-header-cell>
    <mat-cell  class="amount" *matCellDef="let category">
      <span [ngClass]="category.over<=0?'no-over':'over'">
        {{category.over | currency:'EUR':'symbol-narrow':'1.0'}}
      </span>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef >
      <span [ngClass]="getTotalOver()<=0?'no-over':'over'">
        {{getTotalOver() | currency:'EUR':'symbol-narrow':'1.0'}}
      </span>
    </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

</mat-table>
