.name {
   font-family: 'Alegreya Sans', sans-serif;
   text-align: left;
 }

.mat-column-euros_spent {
  justify-content: flex-end;
}

.mat-column-euros_remaining {
  justify-content: flex-end;
}

.mat-elevation-z8 {
   background-color: rgba(165, 208, 230, 0.45);
 }

.mat-footer-row {
  font-weight: bold;
}


