.name {
   font-family: 'Alegreya Sans', sans-serif;
   text-align: left;
 }

.mat-column-spent {
  justify-content: flex-end;
}
.mat-column-remaining {
  justify-content: flex-end;
}
.mat-column-over {
  justify-content: flex-end;
}

.mat-elevation-z8 {
   background-color: rgba(165, 208, 230, 0.45);
 }

.mat-footer-row {
  font-weight: bold;
}

.over {
  background-color: pink;
  font-weight: bold;
}

.no-over {
  color: grey;
}

.over-title {
  font-weight: bold;
}

.no-over-title {
  color: grey
}

.mat-row {
  min-height: 30px;
}

.mat-header-row{
  min-height: 32px;
}

.mat-footer-row{
  min-height: 40px;
}
