.caca {
  width: 50%;
  height: 550px;
  overflow-y: auto;
}

.pipi {
  display: inline-flex;
  width: 100%;
}

.single_transaction {
  display: inline-block;
}

.more_vert_button {
  display: inline-block;
}
