<div class="pipi">
  <mat-card class="caca">
    <ng-container *ngIf="deposit">
      <app-amount-list [items]="deposit"></app-amount-list>
    </ng-container>
  </mat-card>

  <mat-card class="caca">
    <ng-container *ngIf="transactions">
      <ng-container *ngFor="let transaction of transactions">
        <!--          <mat-list-item class="single-transaction-container">-->

        <!--            <mat-divider></mat-divider>-->

        <app-single-transaction [selectedTransactions]="[]"
                                [transaction]="transaction"
        >
        </app-single-transaction>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button (click)="openDeleteDialog(transaction)" [disabled]="transactionCantBeDeleted(transaction)"
                  mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        <!--          </mat-list-item>-->
      </ng-container>
    </ng-container>
  </mat-card>
</div>

