.mat-list-base {
  width: 14em;
}

.amount {
  width: 6em;
  float: right;
  text-align: right;
}

.account_name {
  width: 8em;
}

.account_control {
  width: 6em;
}

.button {
  margin-left: 10px;
}

.bold {
  font-weight: bold;
}

.amount_control {
  width: 8em;
  float: right;
  text-align: right;
}
