<mat-card>
  <mat-card-header>
    <mat-button-toggle-group #group="matButtonToggleGroup" value="bank">
      <mat-button-toggle (click)=make_items_bank() value="bank">
        <!--      <mat-button-toggle value="bank" (click)="display_this(group.value)" >-->
        <i class="fas fa-university fa-lg"></i>
      </mat-button-toggle>
      <mat-button-toggle (click)=make_items_cycle() value="balances">
        <i class="fas fa-balance-scale fa-lg"></i>
      </mat-button-toggle>
      <mat-button-toggle (click)=make_items_empty() value="end_month">
        &nbsp;<i class="fas fa-calendar-check fa-lg"></i>&nbsp;
      </mat-button-toggle>
      <mat-button-toggle (click)=make_items_empty() value="input">
        <i class="fas fa-hand-holding-usd fa-lg"></i>
      </mat-button-toggle>

    </mat-button-toggle-group>
  </mat-card-header>

  <app-amount-list [items]="items"></app-amount-list>

</mat-card>
