<mat-list>
  <mat-list-item>

    <div class="account_control">
      <button (click)="toggleFilterAuto()" color="primary" mat-icon-button mat-stroked-button>
        <span *ngIf="hide_auto; else showAuto">
          <i class="fas fa-filter"></i>
        </span>
        <ng-template #showAuto>
          <i class="fas fa-infinity"></i>
        </ng-template>
      </button>
    </div>


    <div class="amount_control">
      <button (click)="toggleAmount()" color="primary" mat-stroked-button>
        <span *ngIf="all_times; else thisCycle;">
          Bank &nbsp; <i class="fas fa-university"></i>
        </span>
        <ng-template #thisCycle>
          this cycle &nbsp; <i class="fas fa-calendar-alt"></i>
        </ng-template>
      </button>
    </div>

  </mat-list-item>

  <ng-container *ngFor="let account of accountsInfo">
    <mat-list-item *ngIf="account.manual || !hide_auto">
      <mat-chip-list class="account_name">
        <mat-chip (click)="onAccountClick(account.acc_name)" color="primary" selected>
          {{account.acc_name}}
        </mat-chip>
      </mat-chip-list>

      <div [ngClass]="all_times?'bold':'amount'" class="amount">
        {{get_amount(account) | currency:'EUR':'symbol-narrow'}}
      </div>

    </mat-list-item>
  </ng-container>
</mat-list>
