<div class="single_class single_class_width_mob">

    <span class="class_name">
      {{classe.name}}
    </span>
  <span class="class_teacher">
      {{classe.teacher}}
    </span> <br>
  <span class="class_hour">
      {{classe.datetime | date:'H:mm':'CET'}}
    </span>

  <span class="class_credits">
    <span *ngIf="classe.my_status == 'available_later'" class="credits credits_later">
        ?
    </span>

    <span *ngIf="classe.my_status == 'full'" class="credits credits_full">
        full
    </span>

    <span *ngIf="classe.my_status == 'available_now'" class="credits credits_available">
        {{classe.credits}}
    </span>

    <span *ngIf="classe.my_status == 'overlaps'" class="credits credits_full credits_overlap">
        &#9888;
    </span>

    <span *ngIf="classe.my_status == 'top_up'" class="credits credits_top_up">
        {{classe.credits}}
    </span>

    <span *ngIf="classe.my_status == 'booked'" class="credits credits_booked">
        ✓
    </span>

    <span *ngIf="classe.my_status == 'scheduled'" class="credits credits_booked">
        &#9200;
    </span>

  </span>
</div>
