@import "../../theme.scss";

.single_class {
  background: #F7F7FF;
  border-radius: 10px;

  margin-bottom: 6px;
  height: 40px;

  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr 50px;
  grid-template-rows: 20px 20px;
  grid-template-areas: "hou nam cre" "hou tea cre";
  text-overflow: ellipsis;
  overflow: hidden;
}

.single_class_width_desk {
  width: 13vw;
}

.single_class_width_mob {
  width: 95vw;
}

.class_credits {
  display: table-cell;
  vertical-align: middle;
  grid-area: cre;
  text-align: right;
  justify-self: end;
}

.single_class_container {
  display: inline-block;
}

.class_name {
  grid-area: nam;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.class_teacher {
  font-style: italic;
  font-weight: lighter;
  grid-area: tea;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
}

.class_hour {
  grid-area: hou;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: $primary;
  padding-right: 2px;
  text-align: center;
}

.mat-chip-list-wrapper {
  margin: 8px !important;
}

.credits {
  font-size: 12px;
  border-radius: 16px;
  padding: 7px 12px;
  margin-right: 6px;
}

.credits_later {
  background-color: $accent;
  color: white !important;
}

.credits_available {
  background-color: $primary;
  color: white !important;
}

.credits_top_up {
  background-color: $warn;
  color: white !important;
}

.credits_booked {
  background-color: green;
  color: white !important;
}

.credits_full {
  background-color: lightgray;
  color: grey;
}

.credits_overlap {
  font-size: large;
  padding: 3.75px 10px;
}
