<h2> <mat-icon>edit</mat-icon> Edit </h2>
<br>
<form #editTransactionForm="ngForm" (ngSubmit)="onSubmit(editTransactionForm)" novalidate>


  <mat-form-field>
    <input name="name"  matInput [ngModel]="data.transaction.name" placeholder="Name" required>
  </mat-form-field>

  <label>
    <input name="id" matInput [ngModel]="data.transaction.id" required hidden>
  </label>

  <div *ngIf="data.transaction.manual">
    <div *ngIf="!data.transaction.linked">
      <mat-form-field class="form_field_amount">
        <input name="amount" matInput
               [ngModel]="data.transaction.amount"
               placeholder="Amount" type="number"
               required class="amount_input">
        <span matSuffix>&nbsp;€&nbsp;</span>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="!data.transaction.linked">
    <mat-form-field class="category_select">
      <mat-select name="category" [ngModel]="data.transaction.category" placeholder="Category">
        <mat-option *ngFor="let category of categories" [value]="category">
          <mat-icon mat-list-icon>
            <i class="{{icons[category]}}"></i>
          </mat-icon>
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="data.transaction.linked">
    <mat-form-field class="category_select">
      <input name="Category"  matInput [ngModel]="data.transaction.category" placeholder="Category" disabled required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="cycle_select">
      <mat-select name="cycle" [ngModel]="data.transaction.cycle" placeholder="Cycle">
        <mat-option *ngFor="let cycle of cycles" [value]="cycle">
          {{cycle}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="data.transaction.linked">
        Will change cycle of all links
      </mat-hint>
    </mat-form-field>
  </div>


  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">
      Cancel
    </button>

    <button mat-raised-button type="submit" [disabled]="!editTransactionForm.dirty" color="primary">
      Edit
    </button>
  </div>

</form>
