<h2> <mat-icon>edit</mat-icon> Edit </h2>
<br>
<form #editTransactionForm="ngForm" (ngSubmit)="onSubmit(editTransactionForm)" novalidate>


  <mat-form-field>
    <input name="name"  matInput [ngModel]="data.transaction.name" placeholder="Name" required>
  </mat-form-field>

  <label>
    <input name="id" matInput [ngModel]="data.transaction.id" required hidden>
  </label>

  <div *ngIf="data.transaction.manual">
    <div *ngIf="!data.transaction.linked">
      <mat-form-field>
        <input name="amount" matInput [ngModel]="data.transaction.amount" placeholder="Amount" type="number" required>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="!data.transaction.linked">
    <mat-form-field>
      <mat-select name="category" [ngModel]="data.transaction.category" placeholder="Category">
        <mat-option *ngFor="let category of categories" [value]="category">
          <span [ngSwitch]="category">
            <span *ngSwitchCase="'Food'"><i class="fas fa-apple-alt"></i> </span>
            <span *ngSwitchCase="'Restaurants'"><i class="far fa-utensils"></i></span>
            <span *ngSwitchCase="'Laundry'"><i class="fas fa-shower"></i></span>
            <span *ngSwitchCase="'Snacks'"><i class="fas fa-coffee"></i></span>
            <span *ngSwitchCase="'Transports'"><i class="fas fa-bicycle"></i> </span>
            <span *ngSwitchCase="'Home'"><i class="fas fa-home"></i></span>
            <span *ngSwitchCase="'Health'"><i class="fas fa-heartbeat"></i></span>
            <span *ngSwitchCase="'Bills'"><i class="fas fa-file-invoice"></i></span>
            <span *ngSwitchCase="'Fine Food'"><i class="fas fa-store"></i></span>
            <span *ngSwitchCase="'Shopping'"><i class="fas fa-shopping-bag"></i></span>
            <span *ngSwitchCase="'Fun'"><i class="fas fa-theater-masks"></i></span>
            <span *ngSwitchCase="'Input'"><i class="fas fa-hand-holding-usd"></i></span>
            <span *ngSwitchCase="'Deposit'"><i class="fas fa-piggy-bank"></i></span>
          </span>
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="data.transaction.linked">
    <mat-form-field>
      <input name="Category"  matInput [ngModel]="data.transaction.category" placeholder="Category" disabled required>
    </mat-form-field>
  </div>

  <div >
    <mat-form-field>
      <mat-select name="cycle" [ngModel]="data.transaction.cycle" placeholder="Cycle">
        <mat-option *ngFor="let cycle of cycles" [value]="cycle">
          {{cycle}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="data.transaction.linked">
        Will change cycle of all links
      </mat-hint>
    </mat-form-field>
  </div>


  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">
      Cancel
    </button>

    <button mat-raised-button type="submit" [disabled]="!editTransactionForm.dirty" color="primary">
      Edit
    </button>
  </div>

</form>
