.margin_1 {
  margin-left: 1em;
  margin-top: 1em;
}

.category_icon {
  width: 50px;
  display: inline-block;
}

.category_select {
  width: 20em;
  display: inline-block;
  margin-right: 3em;
}

.amount {
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

.remove_button {
  width: 10em;
}

.budget_submit_button {
  margin-left: 10em;
}

.category_select {
  padding: 0 !important;
}

.mat-form-field-infix {
  padding-top: inherit !important;
  padding-bottom: inherit !important;
}

.mat-chip {
  font-weight: inherit;
}
