<div class="cycle_budgets">
  <span class="category_icon">
    <button (click)="addBudget()" class="clickable"
            color="primary" mat-icon-button
            type="button">
      <mat-icon>
        add_circle_outline
      </mat-icon>
    </button>
  </span>
  <span class="category_select">
    <app-list-selector (selected_cycle)="setSelectedCycle($event)"
                       [cycles]="cycles"
                       [display_hint_linked]="false"
                       [placeholder]="'Cycle to edit'">
    </app-list-selector>
  </span>

  <span class="amount">
    <mat-chip-list>
      <mat-chip color="accent" selected>
        {{getTotalAmount() | currency:'EUR':'symbol-narrow':'1.0'}}
      </mat-chip>
    </mat-chip-list>
  </span>

  <span *ngIf="selectedCycle">
    <button [matMenuTriggerFor]="menu" mat-button>
      Prefill with values from another month
    </button>
  </span>
</div>


<mat-menu #menu="matMenu">
  <ng-container *ngFor="let cycle of cycles">
    <button (click)="getBudgets(cycle)" mat-menu-item>
      {{cycle}}
    </button>
  </ng-container>
</mat-menu>

<form (ngSubmit)="onSubmit()" [formGroup]="budgetForm" class="margin_1">
  <div class="single_bud" formArrayName="budgets">
    <div *ngFor="let budget of budgets.controls; let i=index">
      <div [formGroupName]="i.toString()">

          <span class="category_icon">
            <i class="{{this.icons[budget.value['category']]}} fa-fw fa-2x"></i>
          </span>

        <span class="category_select">
            <mat-form-field style="margin-bottom:-20px">
              <mat-select class="category_field" formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category">
                  <mat-icon mat-list-icon>
                    <i class="{{icons[category]}}"></i>
                  </mat-icon>
                  {{category}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>

        <span class="amount">
            <mat-form-field class="form_field_amount" style="margin-bottom:-20px">
              <label>
                <input class="amount_input"
                       formControlName="amount" matInput
                       (change)="getTotalAmount()"
                       type="number">
              </label>
              <span matSuffix>&nbsp;€&nbsp;</span>
            </mat-form-field>
          </span>

        <span class="remove_button">
            <button (click)="removeBudget(i)" mat-icon-button>
              <mat-icon>
                clear
              </mat-icon>
            </button>
          </span>
      </div>
    </div>
  </div>

  <button [disabled]="!budgetForm.valid || !selectedCycle" class="budget_submit_button" color="primary"
          mat-raised-button type="submit">
    Submit
  </button>


</form>
