<span class="category_icon">
</span>
<span class="category_select">
  <button (click)="addBudget()" class="clickable"
          color="primary" mat-icon-button
          type="button">
    <mat-icon>
      add_circle_outline
    </mat-icon>
  </button>

  <mat-form-field>
  <mat-label>Select a cycle to edit</mat-label>
  <mat-select (selectionChange)="getBudgets(selected)" [(value)]="selected">
    <mat-option>None</mat-option>
    <ng-container *ngFor="let cycle of cycles">
      <mat-option [value]="cycle">
        {{cycle}}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
</span>

<ng-container *ngIf="selected">
  --- {{selected}} ---
</ng-container>

<form (ngSubmit)="onSubmit()" [formGroup]="budgetForm" class="margin_1">
  <div formArrayName="budgets">
    <div *ngFor="let budget of budgets.controls; let i=index">
      <div [formGroupName]="i.toString()">

          <span class="category_icon">
            <i class="{{this.icons[budget.value['name']]}} fa-fw fa-2x"></i>
          </span>

        <span class="category_select">
            <mat-form-field>
              <mat-select formControlName="name" placeholder="Category">
                <mat-option *ngFor="let category of categories" [value]="category">
                  <mat-icon mat-list-icon>
                    <i class="{{icons[category]}}"></i>
                  </mat-icon>
                  {{category}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>

        <span class="amount">
            <mat-form-field class="form_field_amount">
              <label>
                <input class="amount_input"
                       formControlName="amount" matInput
                       placeholder="Amount"
                       type="number">
              </label>
              <span matSuffix>&nbsp;€&nbsp;</span>
            </mat-form-field>
          </span>

        <span class="remove_button">
            <button (click)="removeBudget(i)" mat-icon-button>
              <mat-icon>
                clear
              </mat-icon>
            </button>
          </span>
      </div>
    </div>
  </div>

  <button [disabled]="!budgetForm.valid" class="budget_submit_button" color="primary" mat-raised-button type="submit">
    Submit
  </button>


</form>
