<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      {{title}}
    </span>
    <!--    <span class="example-spacer"></span>-->
    <mat-icon [routerLink]="'./deposit'" class="example-icon">
      <i class="fas fa-piggy-bank"></i>
    </mat-icon>

    <mat-icon [routerLink]="'./dashboard/'" class="example-icon">
      <i class="fas fa-home"></i>
    </mat-icon>

  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let cycle of cycles"
     (click)="activeCycle = cycle"
     [active]="activeCycle == cycle"
     [routerLink]="'./dashboard/' + cycle">
   {{cycle}}
  </a>
</nav>

<router-outlet></router-outlet>
