<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="'./dashboard/now'" class="clickable">
      <mat-icon>
        <i class="fas fa-home"></i>
      </mat-icon>
      {{title}}
    </span>

    <span class="toolbar-spacer">
      <ng-container *ngIf="isMobile">
        <button [matMenuTriggerFor]="cycleMenu" mat-button>
          {{this.activeCycle}}
        </button>

        <mat-menu #cycleMenu="matMenu">
          <ng-template matMenuContent>
            <ng-container *ngFor="let cycle of cycles">
              <button (click)="setCycle(cycle)" mat-menu-item>{{cycle}}</button>
            </ng-container>
          </ng-template>
        </mat-menu>
      </ng-container>
    </span>

    <button [routerLink]="'./classbot'"
            class="clickable"
            mat-icon-button>
      <mat-icon>
        <i class="fas fa-quidditch"></i>
      </mat-icon>
    </button>

    <button [routerLink]="'./deposit'"
            class="clickable"
            mat-icon-button>
      <mat-icon>
        <i class="fas fa-piggy-bank"></i>
      </mat-icon>
    </button>

    <button [matMenuTriggerFor]="settings_menu" class="clickable"
            mat-icon-button>
      <mat-icon>
        <i class="fas fa-cog"></i>
      </mat-icon>
    </button>

    <mat-menu #settings_menu="matMenu">
      <button [routerLink]="'./calendar'" mat-menu-item>
        <mat-icon>calendar_today</mat-icon>
        <span>Edit Cycles</span>
      </button>

      <button (click)="authenticateN26()" mat-menu-item>
        <mat-icon>fingerprint</mat-icon>
        <span>Authenticate N26</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
