<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet">

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      {{title}}
    </span>
    <span class="example-spacer">

    </span>
    <button [routerLink]="'./deposit'" class="example-icon clickable" mat-raised-button>
      <!--      <mat-icon >-->
      <!--        <i class="fas fa-piggy-bank home-icon"></i>-->
      <!--      </mat-icon>-->
      deposit
    </button>

    <button [routerLink]="'./dashboard/now'" class="clickable" mat-raised-button>
      <!--      <mat-icon >-->
      <!--        <i class="fas fa-home"></i>-->
      <!--      </mat-icon>-->
      Home
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let cycle of cycles"
     (click)="activeCycle = cycle"
     [active]="activeCycle == cycle"
     [routerLink]="'./dashboard/' + cycle">
    {{cycle}}
  </a>
</nav>

<router-outlet></router-outlet>
