@import "../../theme.scss";

.center {
  text-align: center;
  height: 100vh
}

.userbox {
  min-width: 100px;
  display: block;
}

.mat-button-toggle-checked {
  background-color: $primary;
  color: white;
  font-weight: bold;
}

.mat-button-toggle-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

.weekday_title {
  font-weight: lighter;
  color: $primary;
  font-family: Roboto, sans-serif;
}

.weekday_mtw {
  text-transform: uppercase;
  padding: 0 10px;
}

.weekday_date {
  border-top: 1px solid $primary;
  padding-top: 8px;
}

.weekday_date_first {
  padding-top: 8px;
}

.weekday_desk {
  display: inline-grid;
  width: 13vw;
  margin: 5px 0.5vw;
  text-align: left;
}

.date_mob {
  text-transform: uppercase;
  font-weight: lighter;
  color: $primary;
  font-family: Roboto, sans-serif;
}

.weekday_mob {
  width: 95vw;
  margin: 2.5vw;
  text-align: left;
}

.title_date {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.bookable {
  cursor: pointer;
}

.bookable :hover {
  color: $accent !important;
}
