<div class="center">
  <mat-button-toggle-group #thisUser="matButtonToggleGroup">
    <mat-button-toggle (click)="setUser(user)"
                       *ngFor="let user of users"
                       value="{{user}}">
      <span class="userbox">
        {{user | titlecase}}
        <ng-container *ngIf="token !== '' && user == selectedUser">
          ✅
        </ng-container>
        <ng-container *ngIf="token === '' && user == selectedUser">
          ❌
        </ng-container>
      </span>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="thisUser.value !== undefined && token !== ''">
    <div class="venue_select">
      <mat-form-field>
        <mat-label>Select a venue</mat-label>
        <mat-select (selectionChange)="getCalendar()" [(value)]="venueSelected">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let venue of venues"
            value="{{venue.id}}"
          >
            <span>{{venue.name}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="this.venueSelected">

    <div *ngFor="let calendar_day of calendar, let i=index;" class="weekday_mob">
      <div class="'weekday_mob date_mob {{i===0?'weekday_date_first':'weekday_date'}}">
        {{calendar_day.date | date:'EEEE, MMMM d'}}
      </div>

      <div *ngFor="let classe of calendar_day.classes" class="{{classe.bookable?'bookable':''}}">
        <app-classbot-single-class-mobile (click)="openBookDialog(classe)" [classe]="classe" [user]="selectedUser">
        </app-classbot-single-class-mobile>
      </div>
    </div>

    <button (click)="viewMore()" *ngIf="!view_more" mat-mini-fab>
      <mat-icon>
        more_horiz
      </mat-icon>
    </button>
  </div>
</div>
