@import "../../theme.scss";

::ng-deep {
  .mat-form-field-appearance-legacy .mat-form-field-infix ::ng-deep {
    padding: .4375em 0 !important;
  }
}

.center {
  text-align: center;
  width: 100vw;
}

.center_mobile {
  margin-top: -10px;
}

.full_height {
  height: 100vh;
}

.userbox {
  min-width: 100px;
  display: block;
}

.mat-button-toggle-checked {
  background-color: $primary;
  color: white;
  font-weight: bold;
}

.mat-button-toggle-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

.weekday_title {
  font-weight: lighter;
  color: $primary;
  font-family: Roboto, sans-serif;
}

.weekday_mtw {
  text-transform: uppercase;
  padding: 0 10px;
}

.weekday_date {
  border-top: 1px solid $primary;
  padding-top: 10px;
  margin-bottom: 5px;
}

.weekday_date_first {
  padding-top: 8px;
}

.weekday_desk {
  display: inline-grid;
  width: 13vw;
  margin: 5px 0.5vw;
  text-align: left;
}

.date_mob {
  text-transform: uppercase;
  font-weight: lighter;
  color: $primary;
  font-family: Roboto, sans-serif;
}

.weekday_mob {
  width: 95vw;
  margin: 2.5vw;
  text-align: left;
}

.title_date {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.bookable {
  cursor: pointer;
}

.bookable :hover {
  color: $accent !important;
}

.user_connected {

}

.user_name {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: larger;
}

.user_name .desktop {
  padding: 10px 20px;
}

.user_name .mobile {
  padding: 0;
}

.user_credits {
  float: right;
  font-size: 12px;
  border-radius: 16px;
  padding: 7px 12px;
  margin: 6px;
  background-color: $primary;
  color: white !important;
}

.user_credits .desktop {
  margin-right: 20px;
  margin-top: 20px;
}

.user_credits .mobile {
  margin: 4px;
}

.user_toolbar {
  margin-bottom: 10px;
  margin-top: 0;
}

.venue_name {
  color: $accent;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: small;
}


.hourglass-spin {
  > [class*="fa-hourglass"] {
    animation: showhide 1s steps(1) infinite;
    opacity: 0;
  }

  > .fa-hourglass-end {
    animation-delay: 0.5s;
  }

  > .fa-hourglass-half {
    animation-delay: 0.25s;
  }

  > .fa-hourglass-start {
    animation-delay: 0s;
  }

  > .fa-hourglass-end.spin {
    animation: showhidespin 1s linear infinite;
  }
}

@keyframes showhide {
  0% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
}

@keyframes showhidespin {
  0% {
    opacity: 0
  }
  74.9999999% {
    opacity: 0
  }
  75% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(180deg);
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
