<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto&display=swap" rel="stylesheet">

<div class="center full_height desktop">

  <div *ngIf="selectedUser !== undefined && credits !== undefined" class="user_toolbar">
    <span class="user_name desktop">
      <button (click)="resetUser()" class="user_connected" color="primary" mat-button>
        <mat-icon>
          account_circle
        </mat-icon>
        {{selectedUser | titlecase}}
      </button>
    </span>

    <span class="user_credits desktop">
      {{credits}} credits
    </span>

    <span>
      <mat-form-field>
        <mat-label>Select a venue</mat-label>
        <mat-select (selectionChange)="getCalendar()" [(value)]="venueSelected">
          <mat-option>My Reservations</mat-option>
          <mat-option
            *ngFor="let venue of venues"
            value="{{venue.id}}"
          >
            <span>{{venue.name}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>

  </div>

  <ng-container *ngIf="selectedUser === undefined || credits === undefined">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="setUser(user, false)"
                         *ngFor="let user of users"
                         class="userbox"
                         value="{{user}}">
      <span>
        {{user | titlecase}}
      </span>
        <ng-container *ngIf="credits === undefined && selectedUser !== undefined && user == selectedUser">
          <i class="far fa-hourglass"></i>
        </ng-container>

      </mat-button-toggle>
    </mat-button-toggle-group>
  </ng-container>

  <div *ngIf="fetching">
    <div class="fa-stack fa-4x hourglass-spin">
      <i class="fa fa-stack-1x fa-hourglass-start"></i>
      <i class="fa fa-stack-1x fa-hourglass-half"></i>
      <i class="fa fa-stack-1x fa-hourglass-end"></i>
      <i class="fa fa-stack-1x fa-hourglass-end spin"></i>
    </div>
  </div>

  <div *ngIf="this.calendar.length > 0">
    <div *ngFor="let weekday of weekdays" class="weekday_desk weekday_title weekday_mtw">
      {{weekday}}
    </div>

    <div *ngFor="let calendar_day of calendar, let i=index;" class="weekday_desk">
      <div class="{{is_today(calendar_day.date)?'weekday_title_today':'weekday_title'}} weekday_date">
        <span *ngIf="calendar_day.date.slice(-2) == '01' || i === 0 else daynum">
          {{calendar_day.date | date:'d MMMM'}}
        </span>
        <ng-template #daynum>
          <span>
            {{calendar_day.date | date:'d'}}
          </span>
        </ng-template>
      </div>

      <div *ngFor="let classe of calendar_day.classes" class="{{classe.bookable?'bookable':''}}">
        <div *ngIf="venueSelected === undefined" class="venue_name">
          {{classe.venue}}
        </div>
        <app-classbot-single-class-desktop (click)="openBookDialog(classe)" [classe]="classe" [user]="selectedUser">
        </app-classbot-single-class-desktop>
      </div>
    </div>

    <button (click)="viewMore()" *ngIf="!view_more" mat-mini-fab>
      <mat-icon>
        more_horiz
      </mat-icon>
    </button>
  </div>
</div>


