<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" rel="stylesheet">

<div class="center center_mobile">
  <mat-button-toggle-group *ngIf="selectedUser === undefined || credits === undefined">
    <mat-button-toggle (click)="setUser(user, true)"
                       *ngFor="let user of users"
                       value="{{user}}">
      <span class="userbox">
        {{user | titlecase}}
        <ng-container *ngIf="credits === undefined && selectedUser !== undefined && user == selectedUser">
          <i class="far fa-hourglass"></i>
        </ng-container>
      </span>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="selectedUser !== undefined && credits !== undefined" class="center">

    <div class="user_toolbar">
      <span class="user_name mobile">
        <button (click)="resetUser()" class="user_connected" color="primary" mat-button>
          <mat-icon>
            account_circle
          </mat-icon>
          {{selectedUser | titlecase}}
        </button>
      </span>

      <span class="user_credits mobile">
        {{credits}} credits
      </span>
    </div>

    <br>
    <mat-form-field>
      <mat-label>Select a venue</mat-label>
      <mat-select (selectionChange)="getCalendar()" [(value)]="venueSelected">
        <mat-option>My Reservations</mat-option>
        <mat-option
          *ngFor="let venue of venues"
          value="{{venue.id}}"
        >
          <span>{{venue.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="fetching">
    <div class="fa-stack fa-4x hourglass-spin">
      <i class="fa fa-stack-1x fa-hourglass-start"></i>
      <i class="fa fa-stack-1x fa-hourglass-half"></i>
      <i class="fa fa-stack-1x fa-hourglass-end"></i>
      <i class="fa fa-stack-1x fa-hourglass-end spin"></i>
    </div>
  </div>

  <div *ngIf="this.calendar.length > 0">

    <div *ngFor="let calendar_day of calendar, let i=index;" class="weekday_mob">
      <div class="'weekday_mob date_mob {{i===0?'weekday_date_first':'weekday_date'}}">
        {{calendar_day.date | date:'EEEE, MMMM d'}}
      </div>

      <div *ngFor="let classe of calendar_day.classes"
           class="{{(classe.bookable || classe.my_status==='booked')?'bookable':''}}">
        <div *ngIf="venueSelected === undefined" class="venue_name">
          {{classe.venue}}
        </div>
        <app-classbot-single-class-mobile (click)="openBookDialog(classe)" [classe]="classe" [user]="selectedUser">
        </app-classbot-single-class-mobile>
      </div>
    </div>

    <button (click)="viewMore()" *ngIf="!view_more && venueSelected !== undefined" mat-mini-fab>
      <mat-icon>
        more_horiz
      </mat-icon>
    </button>
  </div>
</div>
