<div class="main">
  <div class="component">
    <app-transactions></app-transactions>
  </div>

  <div class="component recap">
    <app-recap></app-recap>
  </div>

  <div class="component balance">
    <div>
      <span class="left">
        <app-creator></app-creator>
      </span>
      <span class="right">
        <app-recurring-transactions class="recurring">
        </app-recurring-transactions>
      </span>
    </div>
    <br> &nbsp; <br>
    <app-balances></app-balances>
  </div>
</div>
