<h2>
  <mat-icon>call_split</mat-icon>
  Split
</h2>
<br>
<form #splitTransactionForm="ngForm" (ngSubmit)="onSubmit(splitTransactionForm)" novalidate>

  <label>
    <input name="id" [ngModel]="data.transaction.id" required hidden>
  </label>

  <label>
    <input name="amount2" [ngModel]="data.transaction.amount - splitTransactionForm.value['amount1']" hidden>
  </label>

  <mat-form-field class="name_input">
    <input name="name1" matInput [ngModel]="data.transaction.name" placeholder="Name 1" required>
  </mat-form-field>
  &nbsp;
  <mat-form-field class="form_field_amount">
    <input name="amount1" matInput type="number"
           min="{{minAmount(data.transaction)}}"
           max="{{maxAmount(data.transaction)}}"
           appLowerBound="{{minAmount(data.transaction)}}"
           appUpperBound="{{maxAmount(data.transaction)}}"
           [ngModel]="data.transaction.amount"
           placeholder="Amount 1" required
           class="amount_input"
    >
    <span matSuffix>&nbsp;€&nbsp;</span>
  </mat-form-field>
  &nbsp;
  <mat-form-field class="category_select">
    <mat-select name="category1" [ngModel]="data.transaction.category" placeholder="Category 1">
      <mat-option *ngFor="let category of categories" [value]="category">
        <mat-icon mat-list-icon>
          <i class="{{icons[category]}}"></i>
        </mat-icon>
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field class="cycle_select">
    <mat-select name="cycle1" [ngModel]="data.transaction.cycle" placeholder="Cycle 1">
      <mat-option *ngFor="let cycle of cycles" [value]="cycle">
        {{cycle}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field class="name_input">
    <input name="name2" matInput [ngModel]="data.transaction.name" placeholder="Name 2" required>
  </mat-form-field>
  &nbsp;
  <mat-form-field class="form_field_amount">
    <input name="amount0" matInput
           class="amount_input"
           value="{{data.transaction.amount - splitTransactionForm.value['amount1']  | number:'1.2-2'}}"
           placeholder="Amount 2" disabled>
    <span matSuffix>&nbsp;€&nbsp;</span>
  </mat-form-field>
  &nbsp;
  <mat-form-field class="category_select">
    <mat-select name="category2" [ngModel]="data.transaction.category" placeholder="Category 2">
      <mat-option *ngFor="let category of categories" [value]="category">
        <mat-icon mat-list-icon>
          <i class="{{icons[category]}}"></i>
        </mat-icon>
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field class="cycle_select">
    <mat-select name="cycle2" [ngModel]="data.transaction.cycle" placeholder="Cycle 2">
      <mat-option *ngFor="let cycle of cycles" [value]="cycle">
        {{cycle}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">
      Cancel
    </button>

    <button mat-raised-button type="submit"
            [disabled]="
            splitTransactionForm.invalid ||
            (
              splitTransactionForm.value['category1'] === splitTransactionForm.value['category2']
              &&
              splitTransactionForm.value['cycle1'] === splitTransactionForm.value['cycle2']
            )"
            color="primary">
      Edit
    </button>
  </div>
</form>

