/* transactionsComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: royalblue !important;
}
.transactions .salmon {
  background-color: #FFCCCC !important;
}
.transactions .orange {
  background-color: #FFE5CC !important;
}
.transactions .yellow {
  background-color: #FFFBCC !important;
}
.transactions .green {
  background-color: #D6FAD0 !important;
}
.transactions .duck {
  background-color: #CCFFEE !important;
}
.transactions .blue {
  background-color: #CCEBFF !important;
}
.transactions .violet {
  background-color: #E0CFFF !important;
}
.transactions .pink {
  background-color: #FFCCF3 !important;
}
.transactions .brown {
  background-color: #EBE4DF !important;
}
.transactions {
  margin: 0 0 2em 0;
  list-style-type: none;
  width: 32em;
}
.transactions li {
  color: midnightblue;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  height: 30px;
  border-radius: 4px;
}
.transactions li.selected:hover {
  background-color: #BBD8DC !important;
  color: white !important;
}
.transactions li:hover {
  color: rebeccapurple !important;
  background-color: #DDD;
  left: .2em;
}

.transactions   .category {
  display: inline-block;
  font-size: small;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #E5E5E5;
  line-height: 1em;
  position: relative;
  left: +1em;
  height: 30px;
  border-radius: 0 4px 4px 0;
  width: 7em;
  font-variant: small-caps;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-align: center;
}
.transactions   .name {
  font-family: 'Alegreya Sans', sans-serif;
  margin-left: 0.5em;
  left:+8em;
  width: 16em;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transactions .linked {
  color:lightslategrey;
}
.transactions .method-symbol{
  color:grey !important;
}
.transactions  .amount {
  width: 8em;
  position: relative;
  text-align:right;
  display: inline-block;
}
.transactions .originalAmount {
  font-size: x-small;
}

.positive {
  color:forestgreen;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.negative {
  color:lightslategrey;
  font-family: 'Roboto', sans-serif;
}

.form-select{
  border: #444444 0.1px solid;
}
