@import "../../theme.scss";

.scrollable {
  overflow: hidden !important;
  display: flex !important;
  flex-direction: column !important;
}

.card_transactions {
  height: 550px;
  overflow-y: auto;
}

.single-transaction-container {
  height: 70px !important;
}

.linked {
  color: lightslategrey !important;
}

.selected {
  background-color: lightgrey !important;
  color: $primary !important;
}

.transactions_header {
  min-height: 60px;
}

.footer_transactions {
  min-height: 40px;
  max-width: 25em;
}

//:host /deep/ .mat-list-item-content {
//  margin-right: 16px !important;
//}

.transactions_menu {
  width: 40px;
  padding: 0 !important;
}

.mat-card {
  margin: 10px;
  padding-right: 0 !important;
}
