<form #newTransactionForm="ngForm" (ngSubmit)="onSubmit(newTransactionForm)" novalidate>

  <mat-form-field>
    <input name="name" matInput ngModel placeholder="Name" required>
  </mat-form-field>

  <mat-form-field>
    <input name="amount" ngModel matInput placeholder="Amount" type="number" required>
    <span matPrefix>€&nbsp;</span>
  </mat-form-field>

  <mat-form-field>
    <mat-select name="account" ngModel placeholder="Account" required>
      <mat-option *ngFor="let account of accounts" [value]="account">
        {{account}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-radio-group name="isCredit" [(ngModel)]="selected">
    <mat-radio-button value="false" [checked]="true">Debit</mat-radio-button>
    <mat-radio-button value="true">Credit</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <input ngModel matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="newTransactionForm.invalid" color="primary">Create Transaction
  </button>
</form>

{{newTransactionForm.value | json}}
