.form-control.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.form-control.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

.form-field{
  width: 100%;
}

.form-select{
  border: #444444 0.1px solid;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
