<h2>
  <mat-icon>add</mat-icon>
  Create New Transaction
</h2>
<form #newTransactionForm="ngForm" (ngSubmit)="onSubmit(newTransactionForm)" novalidate>

  <mat-form-field class="name_input">
    <label>
      <input name="name" matInput ngModel placeholder="Name" required>
    </label>
  </mat-form-field>
  &nbsp;
  <br>

  <ng-container *ngIf="this.currencies.length === 1">
    <mat-form-field class="form_field_amount">
      <label>
        <input class="amount_input" matInput name="amount"
               ngModel placeholder="Amount" required
               type="number">
      </label>
      <span matSuffix>
        &nbsp;{{getMyCurrencySymbol(currencies[0])}}&nbsp;
      </span>
    </mat-form-field>

    <label>
      <input hidden matInput name="currency" ngModel="{{this.currencies[0]}}">
    </label>
  </ng-container>

  <ng-container *ngIf="this.currencies.length > 1">
    <mat-form-field class="form_field_amount">
      <label>
        <input class="amount_input" matInput name="amount"
               ngModel placeholder="Amount" required
               type="number">
      </label>
    </mat-form-field>

    <mat-radio-group [(ngModel)]="currency_selected" name="currency" required>
      <ng-container *ngFor="let currency of currencies">
        <mat-radio-button value="{{currency}}">{{getMyCurrencySymbol(currency)}}</mat-radio-button>
      </ng-container>
    </mat-radio-group>

  </ng-container>


  <br>


  <span *ngIf="this.accounts.length == 1 else accountSelect">
    <mat-form-field class="account_select">
      <label>
      <input matInput name="account"
             value="{{this.accounts[0]}}"
             placeholder="Account" disabled required>
      </label>
     </mat-form-field>

    <label>
      <input hidden matInput name="account" ngModel="{{this.accounts[0]}}">
    </label>
  </span>

  <ng-template #accountSelect>
    <mat-form-field class="account_select">
      <mat-select name="account" ngModel placeholder="Account" required>
        <mat-option *ngFor="let account of accounts" [value]="account">
          {{account}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>

  &nbsp;
  <mat-form-field class="category_select">
    <mat-select name="category" ngModel placeholder="Category">
      <mat-option *ngFor="let category of categories" [value]="category">
        <mat-icon mat-list-icon>
          <i class="{{icons[category]}}"></i>
        </mat-icon>
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-radio-group [(ngModel)]="is_credit" name="isCredit">
    <mat-radio-button value="false" [checked]="true">Debit</mat-radio-button>
    <mat-radio-button value="true">Credit</mat-radio-button>
  </mat-radio-group>

  <br>

  <mat-form-field>
    <label>
      <input [matDatepicker]="picker" matInput name="angular_date" ngModel placeholder="MM/DD/YYYY">
    </label>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button type="submit" [disabled]="newTransactionForm.invalid" color="primary">Create
    </button>
  </div>

</form>
