<div class="new_transaction">
  <form #newTransactionForm="ngForm" (ngSubmit)="onSubmit(newTransactionForm)" novalidate>

    <div class="form-group">
      <label for="name">Name</label>
      <br>
      <input name="name" ngModel type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <br>
      <input name="amount" ngModel type="number" class="form-control" id="amount">
    </div>

    <div class="form-group">
      <label for="originalAmount">Original Amount</label>
      <br>
      <input name="originalAmount" ngModel type="number" class="form-control" id="originalAmount">
    </div>


    <div class="form-group">
      <label for="originalCurrency">Original Currency</label>
      <br>
      <input name="originalCurrency" ngModel type="number" class="form-control" id="originalCurrency">
    </div>


    <div class="form-group">
      <label for="account">Account</label>
      <br>
      <select name="account" class="form-select" type="text" ngModel id="account" required>
        <option *ngFor="let account of accounts" [value]="account">{{account}}</option>
      </select>
    </div>


    <button type="submit" class="btn btn-success">Create Transaction</button>

  </form>
</div>
