<span (click)="onClick(transaction)"
      [ngClass]="this.mobile?'single_transaction_mobile':'single_transaction_desktop'">

  <span class="category_icon">
      <i class="{{this.icons[transaction.category]}} fa-fw fa-2x"></i>
  </span>

  <span class="transaction_name">
    <span class="content" mat-line>
      {{transaction.name}}
      <span *ngIf="transaction.pending;then hourglass"> </span>

      <ng-template #hourglass>
        <i class="far fa-hourglass"></i> &nbsp;
      </ng-template>
    </span>
  </span>

  <span class="transaction_info">
    <span class="content smaller" mat-line>
      {{transaction.account}}
              <span [ngSwitch]="transaction.method" class="method-symbol">
                <span *ngSwitchCase="'card'"><i class="far fa-credit-card"></i> </span>
                <span *ngSwitchCase="'transfer'"><i class="far fa-exchange-alt"></i></span>
                <span *ngSwitchCase="'cash'"><i class="far fa-coins"></i></span>
                <span *ngSwitchCase="'deposit'"><i class="fas fa-piggy-bank"></i></span>
                <span *ngSwitchCase="'hotel'"><i class="fas fa-concierge-bell"></i></span>
                <span *ngSwitchCase="'fict'"><i class="fas fa-credit-card"></i> </span>
                <span *ngSwitchCase="'bank'"><i class="fas fa-university"></i> </span>
                <span *ngSwitchCase="'-'"><i class="fas fa-question"></i></span>
              </span>
      {{transaction.date | date:'EEE d MMMM'}}
    </span>
  </span>


  <span class="trans_amount">
    <ng-container *ngIf="!transaction.originalAmount">
      <span [class.positive]="transaction.amount>0" class="amount">
        {{transaction.amount | currency:'EUR':'symbol-narrow'}}
      </span>
    </ng-container>

    <ng-container *ngIf="transaction.originalAmount && transaction.amount ">
      <span [class.positive]="transaction.amount>0" class="main-amount">
        {{transaction.amount | currency:'EUR':'symbol-narrow'}}
      </span>
      <br>
      <span class="sub-amount currency">
      {{transaction.originalAmount | currency: transaction.originalCurrency:'symbol'}}
      </span>
    </ng-container>

    <ng-container *ngIf="transaction.originalAmount && !transaction.amount">
      <span [class.positive]="transaction.originalAmount>0"
            class="amount currency">
        {{transaction.originalAmount | currency:transaction.originalCurrency:'symbol'}}
      </span>
    </ng-container>
  </span>
</span>
