@import "../../theme.scss";

.button {
  margin-bottom: 10px;
}

.delete-transaction-container {
  border: 0.1px solid;
  border-radius: 25px;
  border-color: $warn;
  padding-left: 16px;
  padding-right: 16px;
}
