<h2>
  <mat-icon>delete</mat-icon>
  Confirm deletion
</h2>
<br>

<div class="delete-transaction-container">
  <app-single-transaction [selectedTransactions]="[]"
                          [transaction]="data.transaction"
  ></app-single-transaction>
</div>

<mat-dialog-actions>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">
      Cancel
    </button>

    <button (click)="onDelete(data.transaction)" color="warn" mat-raised-button type="submit">
      Delete
    </button>
  </div>
  <br>

</mat-dialog-actions>

